<!-- <link rel="stylesheet" href="/css/message.css"> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neutron</title>
    <link rel="stylesheet" href="/css/message.css">
    <link rel="stylesheet" href="/css/boilerplate.css">
</head>
<body>
    <div class="first-wrapper">
        <div class="joiner-div">
            <%- include("navbar.ejs") %>

            <div class="second-wrapper">
                
                <div class="chat-full-div">
                    <div class="active-person-div">
                        <div>
                            <img src="<%= receiver.picture.url %>" alt="" class="active-profile-img">
                        </div>
                        <div>
                            <h3><%= receiver.name %></h3>
                        </div>
                    
                    </div>

                    <div class="full-message-box">
                        <% for(let m of msg){ %>
                            <% if(m.receiver === receiver.name){ %>
                                <div class="msg-wrapper">
                                    <div class="msg opp-msg">
                                        <p><%= m.message %></p>
                                    </div>
                                    <span id="not-you-time" class="time"><%= m.time %></span>
                                </div> 
                            <% }else{ %>
                                <div class="msg-wrapper">
                                    <div class="msg">
                                        <p><%= m.message %></p>
                                    </div>
                                    <span id="you-time" class="time"><%= m.time %></span>
                                </div>
                            <% } %> 
                        <% } %> 
                        
                    </div>

                    <div class="chat-form-div">
                        <form action="/<%= receiver._id %>/personal_message" id="chat-form" method="POST">
                            <input type="text" name="msg_input" id="msg-input" placeholder="send a hushed personal message or navigate to home for live chat sessions and stay online" required autocomplete="off">
                            <div class="btns">
                                <!-- <input type="submit" value="" id="image-btn"> -->
                                <input type="submit" value="" id="send-btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="footer-span">
            <span class="footer-span">All Rights Reserved | For Privacy Policy Please <a href="" class="a-footer">Click Here</a></span>
        </footer>
    </div>
</body>
</html>